<html>

<head>
    <title>3264 - {{title}}</title>
    <meta name="author" content="Dan" />
    <link rel="stylesheet" href="static/grid.css">
    <link rel="stylesheet" href="static/_style.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
</head>

<body>

<div class="container"> <!-- the end div is in footer -->
    <div class="row-12">
        <a href="{{local}}"><img src="https://danielpullan.co.uk/images/logo3264web.png" class="siteLogo"></a>
    </div>
